body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
/* Cambié la propiedad del background de navbar de transparente a color ya que es más fácil de visualizar*/
.navbar
{
background-color: #43a4b8;
}
.icon-vc{
    width: 2em;
    height: auto;
}
.blueline{
width: 100%;
border-bottom-style: solid;
border-bottom-width: 2px ;
opacity: 100;
color: #43a4b8;
}

.bg-darkcyan{
    background-color: #43a4b8 ;
}
.imgcard{
    height: 12em;
    width: auto;
}
.card-body{
    height: 20em;
}
.btn-dark{
    width:  20em;
}
/* Esta propiedad es para que los íconos se muestren en pantallas grandes y no desaparezcan. Propiedad sacada de la inspección de elementos de la web, que es lo que trae navbar por default*/
@media (min-width: 992px){
.navbar-expand-lg, #icon123a,#icon123b,#icon123c {
display: block !important;}
}