body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

.navbar
{
background-color: transparent;
}
.icon-vc{
    width: 2em;
    height: auto;
}
.blueline{
width: 100%;
border-bottom-style: solid;
border-bottom-width: 2px ;
opacity: 100;
color: #43a4b8;
}
.bg-darkcyan{
    background-color: #43a4b8 ;
}
.imgcard{
    height: 12em;
    width: auto;
}
.card-body{
    height: 20em;
}